<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card card-inverse card-info">
                    <div class="card-block">
                        <div class="h2 text-muted text-xs-right m-b-2">
                            <i class="icon-people"></i>
                        </div>
                        <div class="h4 m-b-0">1200</div>
                        <h6 class="text-muted text-uppercase font-weight-bold">整个停车场总共车位数</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-inverse card-info">
                    <div class="card-block">
                        <div class="h2 text-muted text-xs-right m-b-2">
                            <i class="icon-user-follow"></i>
                        </div>
                        <div class="h4 m-b-0">385</div>
                        <h6 class="text-muted text-uppercase font-weight-bold">整个停车场总共剩余车位数</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-inverse card-warning">
                    <div class="card-block">
                        <div class="h2 text-muted text-xs-right m-b-2">
                            <i class="icon-basket-loaded"></i>
                        </div>
                        <div class="h4 m-b-0">1238</div>
                        <h6 class="text-muted text-uppercase font-weight-bold">总共月租车位数</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-inverse card-warning">
                    <div class="card-block">
                        <div class="h2 text-muted text-xs-right m-b-2">
                            <i class="icon-pie-chart"></i>
                        </div>
                        <div class="h4 m-b-0">4321</div>
                        <h6 class="text-muted text-uppercase font-weight-bold">总共剩余月租车位数</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-inverse card-danger">
                    <div class="card-block">
                        <div class="h2 text-muted text-xs-right m-b-2">
                            <i class="icon-speedometer"></i>
                        </div>
                        <div class="h4 m-b-0">1234</div>
                        <h6 class="text-muted text-uppercase font-weight-bold">总共时租车位数</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-inverse card-danger">
                    <div class="card-block">
                        <div class="h2 text-muted text-xs-right m-b-2">
                            <i class="icon-speech"></i>
                        </div>
                        <div class="h4 m-b-0">972</div>
                        <h6 class="text-muted text-uppercase font-weight-bold">总共剩余时租车位数</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>